* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
}

.elementos {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}

:global(.compact-theme) .elementos {
    gap: 8px;
}
