.header {
    background-color: blueviolet;
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
.title {
    color: #333333;
    font-size: 24px;
    margin: 0;
}

.links {
    color: orangered;
}

.secondaryHeader {
    background-color: orange;
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}